* {
   background-color: var(--background-color);
   transition: background-color .1s;
}

//*'TRUE'=================================================================================

[data-theme='true'] {
   --background-color: #333333;
   --text-color: rgb(245 245 245 / .9); 
.app {
   &__social {
      @media (max-width:$mobile){
         border-right: 3px solid rgb(245 245 245 / 0.8);
         border-left: 3px solid rgb(245 245 245 / 0.8);
      }
   }

&__navigation {
   .router-link-active {
      .fa-house {
         color: rgb(245 245 245 / 0.9);
         }
      }
    }
}
   //*sidebar-start--------------------------------------------------------------------------------------------------------
   .sidebar {
         @media (min-width:$tablet){
            border-right: 1px solid var(--main-color); 
            --background-color: rgb(0 0 0 / .1);
         }

         --background-color: rgb(0 0 0 / .3);
         color: var(--grey-color);

         &__accordion {
            --background-color: transparent;
         }
      }

      .animate-items {
         --background-color: transparent;
         &__title {
            &:nth-child(1) {
               color: #ffff;
               filter: blur(.8px);
            }
         }
      }

      .titles {
         &__title {
            color: rgb(245 245 245 / 0.8);
         }
         &__subtitle {
            color: var(--grey-color);
            @media (max-width:$tablet){
               text-decoration: 1px underline  currentColor;
            }
         }

         // @media (max-width:$tablet){
         //    &__title {
         //       color: var(--lime-color);
         //    }
         //    &__subtitle {
         //       color: var(--warning-color);
         //       text-decoration: 1px underline  var( --warning-color);
         //    }
         // }
      }   
    //*sidebar-end---------------------------------------------------------------------------------------------------------------

   .menu {
         --background-color: rgb(0 0 0 / .4);
         @media (max-width:$tablet){
            &__price {
               color: var(--white-color);
               background-color: rgb(0 0 0 / .4);
            }
         }
      }
   //*buttons-start---------------------------------------------------------------------------------------------------------
      .btn {
         --background-color: transparent;
         &_toggle-menu {
            border-color: rgb(245 245 245 / .1);
            svg {
               @media (max-width:$tablet){
                  color: rgb(0 0 0 / .5) !important;
               }
            }
         }
         &_is-open {
            svg {
               color: rgb(245 245 245 / .7) !important;
            }
         }
         &_favorite {
            box-shadow: 0px toEm(6, 15) toEm(18, 15) toRem(5) hsla(0, 0%, 0%, 0.38);
         }
         &_add {
            box-shadow: 0px toEm(6, 15) toEm(18, 15) toRem(5) hsla(0, 0%, 0%, 0.38);
         }
         &_large {
            span {
               color: rgb(245 245 245 / .8);
            }
         }
         &_close {
            &::before,
            &::after {
               background-color: rgb(0 0 0 / .2);
            }
         }

         .fa-opencart {
            transition: color .2s; 
            @media (max-width:$tablet){
               color: var(--whitesmoke-color);
            }
         }
         .fa-chevron-right {
            color: rgb(245 245 245 / 0.8);
         }
      }
   //*buttons-end---------------------------------------------------------------------------------------------------------
      .dialog-cart {
         color: var(--grey-color);
      }

      .nav {
         --background-color: transparent;
         &__link {
            &:not(.router-link-active) {
               @media (min-width:$tablet){
                  color: var(--grey-color);
               }
            }
         }
      }

      .social {
         --background-color: transparent;
      }
   //*card-start----------------------------------------------------------------------------------------
      .card {
         box-shadow: 0px toEm(6, 15) toEm(18, 15) toRem(5) hsla(0, 0%, 0%, 0.09);
         &__image {
            filter: brightness(90%);
         }
         &__slider {
            scrollbar-color: #464646 #333333;
            @media (max-width:$tablet){
               outline: 2px outset rgb(0 0 0 / .4);
            }
         }
   
         &__price {
            color: var(--text-color);
         }
      
         &__title {
            color: var(--text-color);
         }
      }
   //*card-end----------------------------------------------------------------------------------------
      .cart-item {
         border: 1px solid rgb(0 0 0 / .2);
         color: var(--grey-color);
      }
   
      .tab__content {
         color: var(--white-color);
         font-weight: 400;
      }
   
      .input-search {
         border: 2px solid var(--grey-color);
         border-right: 1px solid var(--grey-color);
         color: var(--white-color);
         &::placeholder {
            @media (max-width:$tablet){
               color: var(--whitesmoke-color);
               opacity: .8;
            }
         }
         &:focus-visible {
               @media (max-width:$tablet){
               border-color: var(--whitesmoke-color);
               outline: 1px solid var(--whitesmoke-color);
               }
         }
      }
      .select-wrapper {
         @media (max-width:$tablet){
            &::before,
            &::after{
            background-color: var(--whitesmoke-color);
            }
         }
      }
      .select {
         border: 2px solid var(--grey-color);
         @media (max-width:$tablet){
         border-left: 0px solid var(--grey-color);
         }
         &:focus-visible {
            @media (max-width:$tablet){
            border-color: var(--whitesmoke-color);
            outline: 1px solid var(--grey-color);
         }
      }
         option {
            background-color: var(--background-color);
            color: var(--grey-color);
          }
      }
   
      .footer {
         &__items {
            background-image:none;
            &::before {
               display: none;
            }
         }
         &__social {
            border-top: 1px solid var(--grey-color);
            border-bottom: 1px solid var(--grey-color);
         }
      }
   }

//*FALSE=================================================================================
 [data-theme='false'] {
//*sidebar-start---------------------------------------------------------------------------------------------
   .sidebar {
      --background-color: rgb(245 245 245 / .3);
      border-right: 2px solid var(--whitesmoke-color);

      @media (max-width:$tablet){
         --background-color: rgb(245 245 245 / .5);
         border-right: 1px solid var(--whitesmoke-color);
      }
      &__accordion {
         --background-color: transparent;
      }
   }

   .animate-items {
      --background-color: rgb(245 245 245 / .3);
   }
   .titles {
      &__title {
         color: rgb(0 0 0 / .5);
      }
      &__subtitle {
         color: rgb(0 0 0 / .8);
      }
      @media (max-width:$tablet){
         &__title {
            color: var(--lime-color);
         }
         &__subtitle {
            color: var(--lime-color);
            opacity: .9;
            text-decoration: 1px underline  currentColor;
         }
      }
   }   
//*sidebar-end---------------------------------------------------------------------------------------------

   .menu {
      --background-color: rgb(245 245 245 / .8);
   }

   .card {
      &__slider {
         scrollbar-color: var(--white-color) rgb(245 245 245 / .7);
         @media (max-width:$tablet){
            scrollbar-color: var(--whitesmoke-color) transparent;
         }
      }
   }

   .btn {
      --background-color: transparent;
   }

   .nav {
      --background-color: transparent;
   }

   .social {
      --background-color: transparent;
   }
   .footer__tabs {
      --background-color: transparent;
   }
}